body {
  background-color: #ffff;
  color: #000;
  font-family: 'Work Sans';
  font-size: 24px;
  line-height: 1.25;

  transition: background-color 1s;

}


/*canvas {
     display:block;

}*/

#main{
    /* Necessary to make sure frame width/height
  isn't set according to the canvas element */
  position: absolute;
  overflow: hidden;

   Optional stuff for positioning
  top:50%;
  left:50%;
  width: 75%;
  height: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 30px 20px;
  text-align: center;
}

header nav a {
   color: #C7B1D8;
  font-weight: 500;
  padding-right: 15px;
  text-decoration: none;
  text-transform: uppercase;

  mix-blend-mode: difference;
}

header nav img {
  padding: 0 5px 7px 0;
  width: 30px;
}

header .eye-icon {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 3;
}

.menu {
  background-color: #000;
  color: #C7B1D8;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  width: 50%;
  z-index: 2;
  text-align: left;
}

.menu.open {
  transform: translateX(0);
}

.menu .pages {
  left: 45px;
  position: absolute;
  max-width: 300px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 25px;
}

.menu .pages h3 {
  color: #fff;
  display: block;
  font-size: 30px;
  line-height: 0.9;
  margin-bottom: 5px;

  text-decoration: none;
}
.menu .pages p {
  color: #fff;
  display: block;
  font-size: 17px;

  margin-bottom: 5px;
  padding-top: 30px;
  text-align: left;
  text-decoration: none;
}

.menu .pages a:hover {
  color: #1a77bb;
}

.menu .social {
  bottom: 30px;
  position: absolute;
  left: 45px;
  display: flex;


}

.menu .social a {
  border-bottom: 2px solid transparent;
  color: #fff;
  font-size: 20px;
  display: block;
  text-align: left;
  text-decoration: none;
    margin-left: 10px;
}

.menu .social a:hover {
  border-bottom: 2px solid #fff;
  color: #ffffff;
}

section {
  padding: 20px;
  position: relative;
  margin: 0 auto 00px;
  max-width: 960px;
  height: 100vh;
}

.circle,
.square {
  height: 100px;
  position: absolute;
  width: 100px;
}

.circle {
  background-color: #000;
  border-radius: 50%;
}

.square {
  background-color: #7777;
}

.copy {
  max-width: 620px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}

.section_1 h2 {
  font-size: 90px;

  line-height: 0.9;
}

.section_1 p {
  padding-top: 20px;
}

.section_1 .copy {
  right: -30px;
}

.section_1 .circle {
  left: -30px;
  top: 60px;
}

.section_1 .square {
  bottom: -30px;
  left: 25%;
}


.section_1 img{
  width: 75%;
}

.section_1 img,
.section_1 h2 {
  transition: transform 0.5s ease;
}

.section_1 p {
  font-size: 24px;
  max-width: 360px;
}

.section_1:hover img {
  transform: scale(0.8) rotate(5deg);
  opacity: 0.75;
}



.section_2 {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.section_2 h3 {
  font-size: 60px;
  line-height: 0.9;
  margin-bottom: 30px;
}

.section_2 p {
  font-size: 24px;
  max-width: 360px;
}

.section_2 .copy {
  left: 20px;
}

.section_2 img {
  align-self: flex-start;
  width: 50%;
}

.section_2 .circle {
  right: 50%;
  top: 60px;
  transform: translateX(50%);
}

.section_2 .square {
  bottom: 100px;
  right: -30px;
}

.section_2 .copy,
.section_2 img {
  transition: transform 0.5s ease;
    color: #fff;
}

.section_2:hover .copy {
  transform: scale(0.9) translateY(-50%);
}

.section_2:hover img {
  transform: rotate(5deg);
}

.lookbook {
  background-image: url(image_3.jpg);
  background-position: center;
  background-size: cover;
  text-align: left;
    max-width: 960px;

}

.lookbook h3 {
  font-size: 60px;
  line-height: 0.9;
  max-width: 600px;
  text-align: left;
}

.lookbook img {
  margin-bottom: 20px;
  width: 75px;
}

.lookbook h3,
.lookbook img {
  transition: all 0.5s ease;
}

.lookbook:hover h3 {
 /* color: rgba(255, 255, 255, 0.8);*/
  transform: scale(1.1);
}

.lookbook:hover img {
  transform: scale(1.1);
}

.hover-title h4{
  font-size: 25px;
  font-weight: 600;
}
.info{
  display: flex;
  padding-top: 10px;
}

.description p{
  font-size: 17px;
}
.date p{
  font-size: 17px;
}

.tech p{
  font-size: 17px;
}




.projects-container{
  padding-top: 30px;
}

.project{
  padding-top: 50px;
}

.section_3 {
  text-align: center;
  margin-top:50px;
}

.section_3 h2 {
  font-size: 120px;
  line-height: 0.9;
}

.section_3 .copy {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  background-color: red;
    transition: all 0.5s ease;

}

.section_3 h2 {
  transform: translateY(100px);
}

.section_3 .circle {
  right: 150px;
  top: -30px;
}

.section_3 .square {
  left: 0;
  top: 250px;
}

.section_3 h2,
 {
  transition: all 0.5s ease;
  color:#fff;
}

.bg {
  width: 100%;
  background-image: ;

}

.section_3:hover h2 {
  transform: scale(0.9) translateY(0);
  color: rgba(255, 255, 255, 0.8);
}

.section_3:hover img {
  transform: scale(0.95);
}

footer {

  padding: 20px 0;
bottom: 0;
  text-align: center;
  background-color: #fff;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
/*  padding: 100px 40px 40px;
*/  width: 100%;
}

footer nav a {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  padding-right: 15px;
  text-decoration: none;
}

@media (max-width: 800px) {
  header {
    margin: 0;
    padding: 30px 40px;
  }

  header h1 img {
    height: 30px;
  }

  header nav a {
    padding-right: 10px;
  }

  .menu {
    width: 90%;
  }

  .menu .pages,
  .menu .social {
    text-align: left;
    right: 40px;
    display: block;
  }
   .menu .pages,
  .menu .social a {
    margin-left: 0;
    top: 50%;
  }

  section {
    padding: 40px 40px 60px;
    margin-bottom: 0;
    height: 100%;

  }

  .copy {
    left: 0;
    position: relative;
    right: 0;
    transform: none;
  }

  section img {
    margin-bottom: 20px;
    width: 100%;
  }

  .circle,
  .square {
    height: 50px;
    width: 50px;
  }

  .section_1 .circle,
  .section_2 .circle,
  .section_3 .circle {
    bottom: auto;
    left: 15px;
    right: auto;
    top: 60px;
  }

  .section_1 .square,
  .section_2 .square,
  .section_3 .square {
    bottom: auto;
    left: auto;
    right: 15px;
    top: 300px;
  }

  .menu .pages a,
  .section_1 h2,
  .section_2 h2,
  .lookbook h3,
  .section_3 h2 {
    font-size: 40px;
  }

  .section_1 p {
  padding-top: 10px;
}

.section_1 .copy {
    top: -40px;
}

  .section_2 .copy{
    flex-direction: column;

  }

 .section_2 h3 {
    flex-direction: column;
  }

  .section_2 .circle {
    transform: none;
  }

  .section_2 img {
    width: 100%;
  }

  .section_2 .copy {
    left: 0;
  }

  .section_3 .square {
    top: 150px;
  }

  .section_3 .copy {
    left: 0;
    padding: 0 40px;
    position: absolute;
    transform: translateY(-50%);
  }

  .section_3 h2 {
    transform: none;
  }

  footer nav {
    background-color: #ffd363;
    flex-direction: column;
    padding: 40px;
  }
}


@media (max-width: 800px) {
  .menu .pages a,
  .section_1 h2,
  .section_2 h3,
  .lookbook h3,
  .section_3 h2,
  footer nav a {
    font-size: 50px;
  }

}
